<h1>Hola mundo</h1>


    <div>
        <form action="">
        <input type="text" name="nombre" id="" placeholder="Su nombre">
        <input type="text" name="mensaje" id="" placeholder="Su mensaje...">
        <input type="submit" value="enviar">
    </form>
    
    </div>

    <div class="caja" id="caja">
        <p>Holas</p>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"> </script>